---
layout: page
title: Guilherme Berger's personal website
name: home
description: Guilherme Berger - Software Engineer, Hacker, Student.
---

<h2>Software Engineer, Hacker, Student</h2>

<p>
	I'm a Computer Engineering major at <b><a href="http://www.puc-rio.br/english/" target="_blank">PUC-Rio</a></b>, 
	from which I'll graduate in 2016.
</p>
<p>
	I've studied Computer Science abroad at the <b><a href="http://cs.unc.edu/" target="_blank">UNC at Chapel Hill</a></b>
	during 2014-2015.
</p>
<p>
	I have interned at <b><a href="https://www.google.com/about/careers/students/" target="_blank">Google</a></b>, and
  at <a href="http://lab.vtex.com" target="_blank"><b>VTEX</b></a>.
</p>

<address>
	<ul class="links">		
		<li><b>guilherme.berger@gmail.com</b></li>
		<li><a href="http://github.com/gberger" target="_blank">Github</a></li>
		<li><a href="/about/resume.pdf">Resume</a></li>
		<li><a href="http://facebook.com/gberger" target="_blank">Facebook</a></li>
		<li><a href="http://twitter.com/gberger42" target="_blank">Twitter</a></li>
	</ul>
</address>

<hr>

<h2>Posts</h2>

{% include archive.html %}

<hr>

<h2>Personal Projects</h2>

<dl>
	{% for project in site.data.projects %}
		{% include project-list.html %}
	{% endfor %}
</dl>

	
<h2>Hacks</h2>

<dl>
	{% for project in site.data.hacks %}
		{% include project-list.html %}
	{% endfor %}
</dl>


<h2>Open Source</h2>

<p>
	I love open source! I've contributed to a few libraries and published some of my own.<br>
	Every new project I start gets published on <b><a href="http://github.com/gberger">my GitHub</a></b>.
</p>
<p>
	I also host all my school projects for PUC-Rio and UNC on 
    <a href="https://github.com/search?p=1&q=user%3Agberger+COMP+OR+INF&ref=searchresults&type=Repositories&utf8=%E2%9C%93" target="_blank">GitHub</a>.
</p>
