---
layout: page
title: Guilherme Berger
name: home
description: Guilherme Berger - Software Engineer, Hacker, Student.
---

<h2>Software Engineer, Hacker, Student</h2>

<p>
	I'm a Computer Engineering major at <b><a href="http://www.puc-rio.br/english/" target="_blank">PUC-Rio</a></b>, 
	from which I'll graduate in 2016.
</p>
<p>
	I've studied Computer Science abroad at the <b><a href="http://cs.unc.edu/" target="_blank">UNC at Chapel Hill</a></b>
	during 2014-2015.
</p>
<p>
	I have interned at <b><a href="https://www.google.com/about/careers/students/" target="_blank">Google</a></b>, and
  at <a href="http://lab.vtex.com" target="_blank"><b>VTEX</b></a>.
</p>

<address>
	<ul class="links">		
		<li><b>guilherme.berger@gmail.com</b></li>
		<li><a href="http://github.com/gberger" target="_blank">Github</a></li>
		<li><a href="/about/resume.pdf">Resume</a></li>
		<li><a href="http://facebook.com/gberger" target="_blank">Facebook</a></li>
		<li><a href="http://twitter.com/gberger42" target="_blank">Twitter</a></li>
	</ul>
</address>

<hr>

<h2>Blog</h2>

{% include archive.html %}

<hr>

<h2>Projects, Hacks and Open Source</h2>

<dl>
	{% for project in site.data.projects %}
		<dt>{{project.name}}</dt>
		<dd class="media">
			{% if project.image %}
				<a href="{{ project.image_link }}" target="_blank" class="img">
					<img class="project-image" src="{{ project.image }}" alt="">
				</a>
			{% endif %}
			<div class="bd">
				{% if project.description %}
					{{ project.description | markdownify }}
				{% endif %}
				{% if project.links.size > 0 %}
					<ul class="links">
						{% for link in project.links %}
						<li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</dd>
	{% endfor %}

	<dt><a href="http://github.com/gberger" target="_blank">Other projects on GitHub</a></dt>
	<dd>
		<p>I love open source! I've contributed to a few libraries and published some of my own. 
		Every new project I started gets published on GitHub.</p>
		<p>Even <a href="https://github.com/gberger/gberger.github.io" target="_blank">this site is open source</a>!</p>
	</dd>
</dl>
