<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title != "Guilherme Berger" %} {{page.title}} | {% endif %}Guilherme Berger</title>
	<meta class="{{page.title}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/pygments.css">
	<link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS Feed" />
	<meta name="descrption" content="{{page.description}}">
	<script>
		var _gaq = [['_setAccount', 'UA-38564882-6'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
					s = d.getElementsByTagName(t)[0];
			g.src = '//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		}(document, 'script'));
	</script>
</head>
<body>