{% include top.html %}

	<div id="container" class="page {{page.name}}">
		<h1>{{page.title}}</h1>
		{{content}}

	</div>


	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<script>
		(function(d, t) {
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			g.src = '//hnbutton.appspot.com/static/hn.js';
			s.parentNode.insertBefore(g, s);
		}(document, 'script'));
	</script>

{% include bot.html %}
